.Cart {
  padding: 3rem;
  display: flex;
  height: 70rem;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}

.OrangeLinkBtn {
  margin-left: 3rem;
  font-size: 3rem;
}

.flexItem {
  flex: 1 1 100%;
}

.cartList {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border-radius: 10px;
}

.cardInfo {
  display: flex;
  gap: 3rem;
}

.cardInfo input {
  width: 20rem !important;
}

.cardInfoItem {
  display: flex;
  flex-direction: column;
}

.infoCont {
  display: flex;
  flex-direction: column;
}

.infoCont h1 {
  font-size: 5rem;
}

.infoCont h2 {
  margin-bottom: 4rem;
}

.infoCont p {
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem !important;
}
