.OrangeBtn {
  background-color: var(--orange);
  height: 5rem;
  width: fit-content;
  color: #fff;
  font-family: cursive;
  font-size: 2.2rem;
  text-decoration: none;
  padding: 0 2rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
}

.OrangeBtn:hover {
  background-color: var(--dark-orange);
}

.OrangeBtn:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 2px var(--dark-orange);
}
